#Home {
   box-sizing:border-box;
}

#logout-button {
    border: none;
    background: none;
}

.welcome-message {
    margin-left: 0px;
}

body {
    background-image: url("../assets/musical-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    height: 100px;
}



/*h3 #Piano {
    float:left
}

img #Piano {
    float:left
}

.row div {
    border: 1px solid black;
}

#Home {
    background-color: bisque;
    box-sizing: border-box;
}

#Piano {
    width: 40vw;
    height: 55vh;
    border: 5px solid yellow;
}

    #Piano h3 {
        float: right;
        line-height: 70vh;
    }

    #Piano img {
        height: 100%;
        float: left;
    }

#Fluet {
    width: 40vw;
    height: 40vh;
    border: 5px solid yellow;
}


    #Fluet h3 {
        float: left;
        line-height: 70vh;
    }

    #Fluet img {
        height: 100%;
        float: right;
    }

#Guitar {
    width: 40vw;
    height: 30vh;
    border: 5px solid yellow;
}

    #Guitar h3 {
        float: right;
        line-height: 45vh;
    }

    #Guitar img {
        height: 100%;
        float: left;
    }

#Microphone {
    width: 40vw;
    height: 40vh;
    border: 5px solid yellow;
}

    #Microphone h3 {
        float: left;
        line-height: 45vh;
    }

    #Microphone img {
        height: 100%;
        float: right;
    }

*/