#Home {
   box-sizing:border-box;
}

#logout-button {
    border: none;
    background: none;
}

.welcome-message {
    margin-left: 0px;
}

body {
    background-image: url("../assets/musical-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    height: 100px;
}

