@model Ecommerce_App.Models.ViewModels.ProductsViewModel
@{
    Layout = "_Home";
}

<!Doctype html>

<html>
<head>
</head>
<body id="Home">
    <main>

        <div class="container text-white" style="margin-top:30px;">
            <h2>Welcome to Mojo Music!</h2>
            <p>Enjoys these featured items from our products collection.</p>
        </div>
      
            @foreach (var item in Model.Prod)
            {
                if (item.Id < 5)
                {
                    <div id=@item.Name class="container bg-light border rounded bg-gradient-primary" style="margin-top:30px">
                        <div class="row" style="margin-top:10px; margin-bottom:10px;">
                            <div class="col-3">
                                <img src=@item.Image style="height:175px; width:175px;" />
                            </div>
                            <div class="col-9">
                                <h3>@item.Name</h3>
                                <p>$@item.Price</p>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                }
            }

    </main>
</body>
</html>

