@model Ecommerce_App.Models.ViewModels.ProductsViewModel

@{
    Layout = "_Home";
}

<!Doctype html>

<html>
<head>
</head>
<body>
    <main>

        <div class="container text-white" style="margin-top:30px;">
            <h2>All Products</h2>
        </div>
        <div class="container text-white" style="margin-top:10px;">
            <div class="row">
                <div class="col">
                    <form asp-controller="Products" asp-action="SearchResults">
                        <label>Search by Name</label>
                        <input type="text" name="searchString">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>

        @foreach (var item in Model.Prod)
        {
            <div id=@item.Name class="container bg-light border rounded bg-gradient-primary" style="margin-top:30px">
                <div class="row" style="margin-top:10px; margin-bottom:10px;">
                    <div class="col-3">
                        <img src=@item.Image style="height:175px; width:175px;" />
                    </div>
                    <div class="col-9">
                        <h3>@item.Name</h3>
                        <p>$@item.Price</p>
                        <p>@item.Description</p>
                    </div>
                </div>
            </div>
        }

    </main>

</body>
</html>
