@page
@model Ecommerce_App.Pages.Dashboard.PictureModel
@{
}

@{
    Layout = "_Home";
}

<!Doctype html>

<html>
<head>
    <style>
        .form {
            margin: 0px auto;
        }
    </style>
</head>
<body id="Home">
    <main>

        <div class="row">
            
            <div class="col-md-4 d-flex justify-content-center form text-white" style="margin-top:30px;">

                <form method="post" enctype="multipart/form-data">

                    <div class="form-group text-white">
                        <h1>Admin Portal</h1>
                    </div>

                    <div class="form-group text-white">
                        <label asp-for="@Model.Name"></label>
                        <input asp-for="@Model.Name" /> <br />
                    </div>

                    <div class="form-group text-white">
                        <label asp-for="@Model.Image"></label>
                        <input type="file" asp-for="@Model.Image" /><br />
                    </div>

                    <div class="form-group text-white">
                        <button type="submit" class="btn btn-primary">Upload Image</button>
                    </div>
                </form>

            </div>

        </div>



    </main>
</body>
</html>
